<h1>Signup!</h1>
</br>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %>
  </br>
  </br>
  Last Name : <%= f.text_field :last_name %>
  </br>
  </br>
  Email: <%= f.text_field :email %>
  </br>
  </br>
  Password: <%= f.text_field :password %>
  </br>
  </br>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  </br>
  </br>
  <%= f.submit "Submit" %>

<% end %>